<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fast and simple API service for tracking Coronavirus(COVID-19, SARS-CoV-2) outbreak in Kerala(India).">
    <link rel="canonical" href="https://coronavirus-tracker-api.herokuapp.com/">
    <title>covid19-kerala-api</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
    <section class="section">
        <div class="container column is-8 is-vcentered">
            <h1 class="title">
                <a href="https://github.com/yedhink/covid19-kerala-api">Covid19-Kerala-Api <i class="fa fa-github" style="font-size:48px"></i></a>
            </h1>
            <p class="subtitle">
            A fast and simple API service for tracking <strong>Coronavirus(COVID-19, SARS-CoV-2)</strong> outbreak in Kerala(India).
            </p>
        </div>
    </section>
    </header>
    <section class="section">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Id">Id</abbr></th>
                <th><abbr title="Endpoint">Endpoint/Route</abbr></th>
                <th><abbr title="Type">Type</abbr></th>
                <th><abbr title="Description">Description</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td><a href="https://covid19-kerala-api.herokuapp.com/api" title="/api">/api</a></td>
                <td>Object</td>
                <td>Provides all the available data which includes district wise and total data on number of postive cases, no of persons hospitalized, inclusion from other districts etc</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <th>2</th>
                <td><a href="https://covid19-kerala-api.herokuapp.com/api/location" title="/api/location">/api/location</a></td>
                <td>Array</td>
                <td>Provides an array of all the districts in the same format as the key in 'all' object</td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <th>3</th>
                <td><a href="https://covid19-kerala-api.herokuapp.com/api/location?loc=ernakulam&loc=kannur" title="/api/location?loc=ernakulam&loc=kannur">/api/location?loc=ernakulam&loc=kannur</a></td>
                <td>Object</td>
                <td>Provides a single object with the details corresponding to each of the district mentioned in loc=xxx</td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>